<form class="blog" action="/posts/new?id=<%=@post.id%>" method="post" enctype="multipart/form-data">
  <div class="blog_title">
    <textarea name="title" id="new_post_title" cols="50" rows="1" placeholder="Title" ><%=@post.title%></textarea>
    <!-- <input type="text" name="title" id="title" placeholder="Title"> -->
    <div class="choose_type_and_publish">
      <select name="post_types" id="post_type_selector">
        <% @post_types.each do |post_type| %>
          <option value="<%= post_type.id%>"><%= post_type.type_name%></option>
        <% end %>
      </select>
      <button id="publishBtn">Publish</button>
    </div>
  </div>
  <div class="add_file">
    <input type="file" name="image" id="the-photo-file-field">
    <div id="blog_body_preview" contentEditable="true" data-placeholder="Write your blog here..." onpaste="OnPaste_StripFormatting(this, event);"><%=@post.body%>
    </div>
    <textarea name="body" id="newblog_body"></textarea>
  </div> 
</form>

<script>
  //pass value from post.body div to a hidden textarea
//when publish button is clicked, put the content in div to textarea
  var publishBtn = document.getElementById("publishBtn");
  publishBtn.addEventListener('click',function(){
    var blogBody = document.getElementById("blog_body_preview").innerHTML;

    document.getElementById("newblog_body").innerHTML = blogBody;
  });
</script>
